<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beer Cult</title>
    <metsa charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="container">
      <nav id="nav-wrapper">
        <div class="nav-wrapper">
        <a href="/brewery" class="brand-logo right">Beer Cult<img src="http://i.imgur.com/aEqTFv6.png?2"></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/brewery">Breweries</a></li>
          <li><a href="/users">Login</a></li>
        </ul>
        </div>
      </nav>
    <main>
    {{{body}}}
    </main>
        <footer id="page-footer" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Thanks</h5>
                <p class="grey-text text-lighten-4">I've only been in love with a beer bottle and a mirror. -Sid Vicious</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/srsullivan01/beer_cult">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.teavana.com/us/en/home">Had too much beer?</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">Brough to you by your friends at DevHops3.0</a>
            </div>
          </div>
        </footer>
    </div>
  </body>
</html>
