<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beer Cult</title>
    <metsa charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<<<<<<< HEAD
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
=======
    <link rel='stylesheet' href="/stylesheets/style.css"/>
  </head>
>>>>>>> 914fe022f25abcdab6d7472c669c0f630fe63710
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="logo">Beer Cult</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/brewery/:breweryId/beer/">Beers</a></li>
          <li><a href="/brewery">Breweries</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </div>
    </nav>

<footer>
  <p>Made by your friends at DevHops2.0</p>
</footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  </body>
</html>
