<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beer Cult</title>
    <metsa charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
   <style>

  html {
   min-width: 400px;
   }
   metsa {
     margin: 0 auto;
     top: 10px;
   }
  body {
  text-align: center;
  background-image: url('http://i.imgur.com/QyxbfsB.jpg');
  background-size: 100%;
  background-color: grey;
  background-repeat: no-repeat;
  }
  @media screen and (min-width: 767px) and (max-width: 1200px) {
    body {
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    }
  }

  @media screen and (max-width: 766px) {
    body {
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  h1, h4 {
    color: white;
    text-align: center;
  }
  a {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
  }
  nav {
    display: none;
  }
  footer {
    display: none;
  }

  </style>
    </head>

    <body>



<h1>Beer Cult</h1>

<h4>Are you over 21?</h4>

<a href="/brewery">Yes</a>
<br><br>
<a href="http://disneyjunior.disney.com/">No</a>

  </body>
</html>