
<form action="/brewery/{{breweryId}}/beer/{{beerId}}?_method=PUT" method="POST">
    <input type="text" value="{{beer.name}}" name="name">
    
    <input type="submit" value="Update Beer">
</form>
<<<<<<< HEAD
=======

>>>>>>> 6fa0c244d4e3eebf5afc13fc24b08f5076c3e4de
