<h1>Add a New Beer</h1>
 
<form action="/brewery/{{breweryId}}/beer" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="submit" value="Create" class="form-button">
</form> 

<div><a href="/brewery"><button>Back to Brewery Main Page</button></a></div>

<div><a href="/brewery/{{breweryId}}/beer"><button>Back to Beer Page</button></a></div>
