<form action="/users/{{userId}}/beer" method="POST">
    <input type="text" placeholder="beer name" name="name">
    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">IPA</a></li>
    <li><a href="#">Lager</a></li>
    <li><a href="#">Stout</a></li>
    <li><a href="#">Ale</a></li>
    <li><a href="#">other</a></li>
  </ul>
</div>
    <input type="submit" value="Create Beer">
</form>
