<h1>Add a New Beer</h1>

<form action="/brewery/{{breweryId}}/beer" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="submit" value="Create" class="form-button">
</form>

<div><a href="/brewery">Back to Brewery Main Page</a></div>

<div><a href="/brewery/{{breweryId}}/beer">Back to Beer Page</a></div>
