<h1>Login Now</h1>
  <form action="/users/login?_method=PUT" method="POST">
	<input type="text" name="username" placeholder="username" required>
    <input type="submit" value="Log In" class="form-button">
</form>
<div class="beer-show-button">
    <button><div><a href="/users/new">Sign Up</a></div></button>
    <button><div><a href="/brewery">Back to Main Page</a></div></button>
</div>
  