<h1>Create New User</h1>

<form action="/user" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="bio" placeholder="bio">
      <input type="file" placeholder="photo" name="photo">
    <button class="btn waves-effect waves-light" type="submit" name="action">create user</button>
</form>
