<h1>Sign Up</h1>

<form action="/users" method="POST">
    <input type="text" name="username" placeholder="username">
<<<<<<< HEAD
    <input type="text" name="bio" placeholder="bio">
    <input type="file" placeholder="photo" name="photo">
=======
    <input ype="textarea" name="bio" class="materialize-textarea" >
      <input type="file" placeholder="photo" name="photo">
>>>>>>> 966198af5d2f8fb5f55e02697fb6cc74049b4090
    <input type="submit" value="create user" class="form-button">
</form>
