<h1>Sign Up</h1>

<form action="/users" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="bio" placeholder="bio">
      <input type="file" placeholder="photo" name="photo">
    <input type="submit" value="create user" class="form-button">
</form>
