<h1>{{user.username}}</h1>

<div>{{user.photo}} </div>
<div>Bio: {{user.bio}} </div>
<h2>My Reviews<h2>
  <div>{{#each beers}}><ul>
    <li></li>
    {{/each beers}}
  </div>
  
<h2>My Fridge</h2>
<div>{{user.fridge}}</h2>
