<h1>New Brewery</h1>

<form action="/brewery" method="POST">
	<input type="text" name="name" placeholder="brewery name">
    <input type="website" placeholder="website" name="website" required>
    <input type="submit" value="Create">
</form>

<div><a href="/brewery">Back to Main Page</a></div>
