<div>Brewery: {{brewery.name}}</div>

<div>Location: {{brewery.location}}</div>

<div>email: {{brewery.email}}</div>

<div>website: {{brewery.website}}</div>

<div><a href="/">Back to Main Page</a></div>
