<div class="brewery-show">
    <div>Brewery: {{brewery.name}}</div>

    <div>Location: {{brewery.location}}</div>

    <div>email: {{brewery.email}}</div>

    <div>website: <a>{{brewery.website}}</a></div>

    <button><div><a href="/brewery">Back to Main Page</a></div></button>
</div>