  body {
  /* padding: 50px; */
  font-family: 'Cairo', sans-serif;
  padding-bottom: 50px; 
  background-image: url("http://static.wixstatic.com/media/797c90_ad106a0863dc49029c58cea2c9ccba30.jpg_srz_1036_1295_85_22_0.50_1.20_0.00_jpg_srz");
  /* display: flex; */
  min-height: 100vh;
  flex-direction: column;
  color:rgb(225, 218, 218);
  justify-content: center;
 }
 main {
     flex: 1 0 auto;
 } 
#page-footer {
  background-color: rgba(68, 65, 57, .7);
}
#nav-wrapper {
  background-color: rgba(68, 65, 57, .7);
  padding: -20px;
}
h1 {
  font-family: 'Fredericka the Great', cursive;
  display: flex;
  justify-content: center;
}
main {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.brewery-name {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a {
  color: rgb(225, 218, 218);
}
a:hover {
  color: rgb(105, 22, 22);
}
#delete-button {
  font-size: 12px;
}
.beer-list {
  display: flex;
  justify-content: center;
}
button {
  background-color: rgba(68, 65, 57, .7);
  margin: 20px;
}
.delete-edit-add {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.new {
  display: flex;
  justify-content: space-around;
}
.brewery-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
.beer-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
.beer-show-button {
  display: flex;
  justify-content: center
}
.beer-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-button {
  background-color: rgba(68, 65, 57, .7);
}

