body {
  display: flex;
  padding: 50px;
  font-family: 'Cairo', sans-serif;

};

a {
  color: #5d4037 !default;
  text-decoration: none !important;
};

img.resize {
  max-width:100%;
  max-height:auto;
};

.row.content {
  height: 1500px};


footer {
  color: #F6F7BD;
  padding: 15px;
};

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
};
